body{
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: normal 14px/1.5 tahoma,"Lucida Grande",Verdana,"Microsoft Yahei",STXihei,hei;
    color: #000;
    background: #f2f2f2;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}
.index{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    max-width: 540px;
    min-width: 320px;
    height: 44px;
    /* background: #008c8c; */
    display: flex;
    background-color: #f6f6f6;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.index-item{
    height: 26px;
    border: 1px solid ;
    margin: 6px 10px;
    flex: 1;
    border-radius: 5px;
    position: relative;
    font-size: 12px;
    color: #666;
    line-height: 26px;
    padding-left: 25px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
}
.index-item::before{
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    background: url(./R-C.gif) no-repeat center 100%;
    background-size: 40px auto;
}
.user{
    width: 44px;
    height: 44px;
    /* background-color: #767474; */
    font-size: 12px;
    text-align: center;
    color: #000;
}
.user::before{
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    background: url(./R-C.gif) no-repeat center 100%;
    background-size: 25px auto;
    margin: 5px auto 0;
}

.fcous{
    padding-top: 44px;
}
.fcous img{
    width: 100%;
}
.local-nav{
    display: flex;
    height: 64px;
    background-color: #fff;
    margin: 3px 4px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
}
.local-nav li{
    flex: 1;
}
.local-nav a{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    color: red;
}
/* .local-nav-icon{
    width: 32px;
    height: 32px;
    margin-top: 8px;
    background: url(../R-C.gif) no-repeat center 100%;
    background-size: 50px auto;
} */
.local-nav li [class^="local-nav-icon"]{
    width: 32px;
    height: 32px;
    margin-top: 8px;
    background: url(./R-C.gif) no-repeat center 100%;
    background-size: 50px auto;
}

nav{
    overflow: hidden;
    border-radius: 8px;
    margin: 0 4px 3px;
}
.nav-common{
    height: 88px;
    background-color: #ccc;
    display: flex;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
}
.nav-common .nav-items{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.nav-common:nth-child(2){
    margin: 3px 0;
}
.nav-items:nth-child(-n+2){
    border-right: 1px solid #fff;
}
.nav-items a{
    flex: 1;
    text-align: center;
    line-height: 44px;
    color: #fff;
    font-size: 14px;
    text-shadow: 1px 1px rgba(0, 0, 0, .2);
}
.nav-items a:nth-child(1){
    border-bottom: 1px solid #fff;
}
.nav-items:nth-child(1) a{
    border: 0;
    background: url(./R-C.gif) no-repeat center 100%;
    background-size: 50px auto;
}
.nav-common:nth-child(1){
    background: -webkit-linear-gradient(left,#FA5A55,#FA994D);
}
.nav-common:nth-child(2){
    background: -webkit-linear-gradient(left,#4B90ED,#53BCED);
}
.nav-common:nth-child(3){
    background: -webkit-linear-gradient(left,#34C2A9,#6CD559);
}

.subnav{
    border-radius: 8px;
    background-color: #fff;
    margin: 0 4px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
}
.subnav li{
    flex: 20%;
}
.subnav a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subnav-entry{
    width: 28px;
    height: 28px;
    background-color: red;
    margin-top: 4px;
    background: url(./202205302272172.gif) no-repeat center 100%;
    background-size: 28px auto;
}
